@use "sass:map";

$font-base: "Noto Sans JP", sans-serif;
$text-color:#333;

$breakpoints: (
  sp: "screen and (max-width: 428px)",
  pc: "screen and (min-width: 429px)",
);

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
  @content;
}
}


body {
  font-family: $font-base;
  line-height: 1.7;
  color: $text-color;
}

.inner {}

.header {
  background: linear-gradient(180deg, #EAF4F7 0%, #FFF 100%);
}

.header__inner {
  display: flex;
  padding-inline: 15px;
  justify-content: space-between;
  align-items: center;

    @include mq(pc) {
      padding-inline: 40px;
    }
}

.header__logo {
  margin: 24px 0;
  a  {
    img {
      width: 160px;
    }
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: flex;
 }
}



.header__lists {
  @include mq(pc) {
    display: flex;
  }
}

.header__list {
  a {
    display: inline-block;
    padding: 26px 22px;
    font-size: 16px;
    font-weight: 500;
  }
}

.header__link {}

.header__button {
  padding: 20px 0 14px 22px;
  a {
    color: #F6F7F7;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    display: inline-flex;
    padding: 9px 54px;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    background: linear-gradient(90deg, #2188DE 1.75%, #2BCBC6 97.75%);
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  }
}

.header__icon {}

.drawer-icon {
  position: relative;
  width: 40px;
  height: 20px;

  @include mq(pc) {
    display: none;
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 3px;
  stroke-width: 3px;
  border-radius: 3px;
  background: #2082E0;

  &:nth-child(1) {
  top: 0px;
  }
  &:nth-child(2) {
    top: 10px;
  }
  &:nth-child(3) {
    top: 20px;
  }
}





.mv {}

.mv__inner {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;

  @include mq(pc) {
    max-width: calc(1120px + 80px * 2);
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.mv__image {
  width: 398px;
  text-align: center;

  @include mq(pc) {
    margin-top: 30px;
    width: 650px;
  }
}

.mv__content {
  margin-top: 40px;
  text-align: center;

  @include mq(pc) {
    margin-top: 94px;
    margin-bottom: 115px;
    text-align: left;
  }
}

.mv__logo {
  margin-top: 20px;
  img {
      width: 250px;
  }

}

.mv__title  {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;

  @include mq(pc) {
    margin-top: 24px;
    font-size: 26px;
  }
}

.mv__description {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.0; /* 32px */
}

.mv__button {
  margin-top: 30px;
  a {
    color: #F6F7F7;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    display: inline-flex;
    padding: 9px 54px;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    background: linear-gradient(90deg, #2188DE 1.75%, #2BCBC6 97.75%);
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  }
}



.section {}

.blog {}

.blog__inner {
  background: #FFF;
  padding: 60px 38px 60px 30px;
}

.blog__head {
  color: #228DDD;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
}

.blog__head-title {
  color: #228BDE;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.66px;
}

.blog__cards {
  margin-top: 46px;

  @include mq(pc) {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 34px 20px;
  }
}

.blog__card {
  text-align: center;
  width: 360px;
  height: 326px;
  padding: 12px 15px 16px 12px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 5px 7px 34px 0px #F1F1F1;
}

.blog__image {
  position: relative;
  width: 330px;
  img {
    width: 100%;
  }
}

.blog__label {
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  background: #2392DB;
  padding: 3px 32px;
}

.blog__body {
  margin-top: 6px;
}

.blog__title {
  font-size: 15px;
  font-weight: 700;
}

.blog__text {
  margin-top: 4px;
  font-size: 13px;
  font-weight: 400;
}

.blog__button {
  margin-top: 46px;
  a {}
}
