@use "sass:map";

$font-base: "Noto Sans JP", sans-serif;
$text-color:#333;

$breakpoints: (
  // sp: "screen and (max-width: 428px)",
  // pc: "screen and (min-width: 429px)",

  sm: "screen and (min-width: 320px)",
  sp: "screen and (min-width: 768px)",
  pc: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1280px)",
);

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
  @content;
}
}


body {
  font-family: $font-base;
  line-height: 1.7;
  color: $text-color;
}

.inner {}

.header {
  background: linear-gradient(180deg, #EAF4F7 0%, #FFF 100%);
}

.header__inner {
  display: flex;
  padding-inline: 15px;
  justify-content: space-between;
  align-items: center;

    @include mq(pc) {
      padding-inline: 40px;
    }
}

.header__logo {
  margin: 24px 0;
  a  {
    img {
      width: 160px;
    }
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: flex;
 }
}



.header__lists {
  @include mq(pc) {
    display: flex;
  }
}

.header__list {
  a {
    display: inline-block;
    padding: 26px 22px;
    font-size: 16px;
    font-weight: 500;
  }
}

.header__link {}

.header__button {
  padding: 20px 0 14px 22px;
  a {
    color: #F6F7F7;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    display: inline-flex;
    padding: 9px 54px;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    background: linear-gradient(90deg, #2188DE 1.75%, #2BCBC6 97.75%);
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  }
}

.header__icon {}

.drawer-icon {
  position: relative;
  width: 40px;
  height: 20px;

  @include mq(pc) {
    display: none;
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 3px;
  stroke-width: 3px;
  border-radius: 3px;
  background: #2082E0;

  &:nth-child(1) {
  top: 0px;
  }
  &:nth-child(2) {
    top: 10px;
  }
  &:nth-child(3) {
    top: 20px;
  }
}





.mv {}

.mv__inner {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;

  @include mq(pc) {
    max-width: calc(1120px + 80px * 2);
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.mv__image {
  width: 398px;
  text-align: center;

  @include mq(pc) {
    margin-top: 30px;
    width: 650px;
  }
}

.mv__content {
  margin-top: 40px;
  text-align: center;

  @include mq(pc) {
    margin-top: 94px;
    margin-bottom: 115px;
    text-align: left;
  }
}

.mv__logo {
  margin-top: 20px;
  img {
      width: 250px;
  }

}

.mv__title  {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;

  @include mq(pc) {
    margin-top: 24px;
    font-size: 26px;
  }
}

.mv__description {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.0; /* 32px */
}

.mv__button {
  margin-top: 30px;
  a {
    color: #F6F7F7;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    display: inline-flex;
    padding: 9px 54px;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    background: linear-gradient(90deg, #2188DE 1.75%, #2BCBC6 97.75%);
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  }
}



// .section {}

// .blog {}

// .blog__inner {
//   background: #FFF;
//   padding: 60px 38px 60px 30px;
// }

// .blog__head {
//   color: #228DDD;
//   font-family: Montserrat;
//   font-size: 36px;
//   font-weight: 700;
//   letter-spacing: 3.6px;
// }

// .blog__head-title {
//   color: #228BDE;
//   font-size: 14px;
//   font-weight: 400;
//   letter-spacing: 2.66px;
// }

// .blog__cards {
//   margin-top: 46px;

//   @include mq(xl) {
//     display: grid;
//     grid-template-columns: repeat(3, 2fr);
//     gap: 34px 20px;
//   }
// }

// .blog__card {
//   text-align: center;
//   width: 360px;
//   height: 326px;
//   padding: 12px 15px 16px 12px;
//   border-radius: 4px;
//   background: #FFF;
//   box-shadow: 5px 7px 34px 0px #F1F1F1;
// }

// .blog__image {
//   position: relative;
//   width: 330px;
//   img {
//     width: 100%;
//   }
// }

// .blog__label {
//   position: absolute;
//   top: 0;
//   right: 0;
//   color: #FFF;
//   text-align: center;
//   font-size: 12px;
//   font-weight: 700;
//   background: #2392DB;
//   padding: 3px 32px;
// }

// .blog__body {
//   margin-top: 6px;
// }

// .blog__title {
//   font-size: 15px;
//   font-weight: 700;
// }

// .blog__text {
//   margin-top: 4px;
//   font-size: 13px;
//   font-weight: 400;
// }

// .blog__button {
//   margin-top: 46px;
//   a {}
// }


.blog {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(sp) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.blog__inner {
  padding-left: 30px;
  padding-right: 38px;

  @include mq(sp) {
    padding-left: 47px;
    padding-right: 47px;
  }

  @include mq(xl) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.blog__head {
  display: flex;
  flex-direction: column;

  @include mq(sp) {
    flex-direction: row;
    align-items: center;
    gap: 28px;
    margin-left: 33px;
  }

  @include mq(xl) {
    margin-left: 0;
  }
}

.blog__head-title_1 {
  color: #228DDD;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
}

.blog__head-title_2 {
  color: #228BDE;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.66px;
}

.blog__cards {
  margin-top: 46px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;

  @include mq(sp) {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 34px 20px;
  }

  @include mq(xl) {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }

}

.blog__card {
  text-align: center;
  padding: 12px 15px 16px 15px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 5px 7px 34px 0px #F1F1F1;
}

.blog__image {
  position: relative;
  img {
    width: 100%;
  }
}

.blog__label {
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  height: 24px;
  background: #2392DB;
}

.blog__body {}

.blog__title {
  margin-top: 6px;
  text-align: left;
  font-size: 15px;
  font-weight: 700;
}

.blog__text {
  margin-top: 4px;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
}

.blog__button {
  margin-top: 46px;
  text-align: center;
  a{
    display: inline-flex;
    padding: 9px 54px;
    border-radius: 48px;
    background: linear-gradient(90deg, #2188DE 1.75%, #2BCBC6 97.75%);
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    color: #F6F7F7;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
  }

  @include mq(sp) {
    margin-top: 60px;
  }
}

.news {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.news__inner {
  padding-left: 15px;
  padding-right: 15px;

  @include mq(pc) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.news__title {
  position: relative;
  color: #238FDC;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;

  @include mq(pc) {
    font-size: 36px;
    letter-spacing: 3.6px;
  }

  &::before {
    position: absolute;
    bottom: -6px;
    left: calc(50% - 30px);
    width: 60px;
    height: 3px;
    content: '';
    background: #2BC8C8;
  }

}

.news__card {
  padding-top: 46px;
  padding-bottom: 46px;

  @include mq(pc) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.news__lists {}

// .news__list {
//   &:nth-child(n + 2) {//2番目以降の要素に対して〇〇をする
//     position: relative;

//     &::before {
//       position: absolute;
//       content: "";
//       width: 100%;
//       height: 1px;
//       top: 0;
//       left: 0;
//       background: #E3E3E3;
//     }
//   }
// }

.news__list {
  border-bottom: 1px solid #E3E3E3;
}

.news-link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 13px;

  @include mq(pc) {
    flex-direction: row;
  }
}

.news-link__date {
  font-size: 14px;
  font-weight: 400;

  @include mq(pc) {
    font-size: 16px;
    width: 149px;
    flex-shrink: 0;
  }
}

.news-link__title {
  color: #111;
  font-size: 15px;
  font-weight: 400;

  @include mq(pc) {
    font-size: 16px;
  }
}

.pagination {
  display: flex;
  flex-direction: column;

  @include mq(pc) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-items {
  display: flex;
  padding: 0 13px;
  gap: 20px;

  @include mq(pc) {
    padding: 0;
  }
}
// 参考サイト
// https://gmotech.jp/semlabo/webmarketing/blog/pagination-design/

.page-item {
  color: #707070;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 1.44px;
}

.page-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border: 1px solid #828282; /* 枠線 */
}

.prev-link {
//あとで見直し
}

.next-link {
//後で見直し
}

.news__button {
  margin-top: 30px;
  text-align: center;

  @include mq(pc) {
    margin-top: 0;
  }

  a {
    display: inline-flex;
    color: #2392DB;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 3px;
    padding: 5px 24px;
    border-radius: 2px;
    border: 1px solid #2392DB;
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  }
}
